page-tickets {
  .content {
    &::before {
      content: "";
      background: url(../assets/imgs/DES4.png);
      position: absolute;
      bottom: -244px;
      left: -37%;
      width: 707px;
      height: 534px;
    }

    .art-container {
      .art-top-page {
        background: #cc9900;
        width: 120%;
        height: 286px;
        position: absolute;
        left: -10%;
        top: -126px;
        transform: rotate(-2deg);
        z-index: -1;
      }
    }

    .page-title {
      margin-bottom: 70px;

      > img {
        margin-left: 30px;
      }

      .back-btn {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .menu-btn {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .title {
        color: color($colors, "light");

        * {
          margin: 0;
        }

        h1 {
          font-size: 30px;
          font-weight: normal;
        }

        h2 {
          font-size: 35px;
        }
      }
    }

    .page-content {

      * {
        color: color($colors, 'light');
      }

      .profile-pic {
        display: inline-block;
        margin: auto;
        padding: 80px;
        border-radius: 133px;
        background: color($colors, 'primary');
        position: relative;

        img {
          width: 100px;
        }

        h5 {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .button {
        padding: 20px 50px;

        .button-inner {
          font-size: 25px;
          font-weight: bold;
        }
      }
    }

    .menu-list {
      .button {
        height: 60px;
        position: relative;
        left: -30px;

        .button-inner {
          justify-content: left;
          margin-left: 20px;
        }
      }
    }

    .button {
      font-size: 16px;
    }

    .form-container {
      padding: 40px;
      padding-top: 0;

      .facebook-button-item {
        background-color: transparent;

        .button {
          background-color: color($colors, "facebook");
          height: 40px;

          .button-inner {
            font-size: 16px;
            text-transform: lowercase;
            font-weight: normal;

            .icon {
              margin-right: 10px;
            }
          }
        }
      }

      h1 {
        color: color($colors, "text-grey-dark");
        text-align: center;
      }

      > .label {
        color: color($colors, "text-grey-dark") !important;
        font-size: 20px !important;
      }

      .item {
        background: color($colors, "primary");
        border-radius: 37px;

        * {
          color: #ffffff;
        }

        &[margin-top] {
          margin-top: 44px;
        }

        .label {
          text-align: center;
          font-size: 20px !important;
          margin: 5px !important;
          font-weight: bold;
        }

        .select {

          .select-text {
            margin-right: 35px;
            color: color($colors, 'light');
          }

          .select-icon {
            .select-icon-inner {
              left: -20px;
              top: 18%;
              margin-top: -3px;
              position: absolute;
              width: 0;
              height: 0;
              // border-top: 22px solid;
              // border-right: 15px solid transparent;
              // border-left: 15px solid transparent;
              // color: #fff;
              pointer-events: none;

              &::before {
                content: '';
                background: url('../assets/imgs/Polygon 3.png');
                min-width: 40px;
                min-height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: -9px;
                left: -21px;
              }
            }
          }
        }
      }

      .segment {
        background: color($colors, "primary");
        padding: 2px 10px;
        border-radius: 23px;
        font-weight: bold;

        .segment-button {
          border: none;
          border-radius: 17px;
          color: color($colors, "light");
          font-size: 18px;
        }

        .segment-activated {
          background: color($colors, "light");
          color: color($colors, "text-grey-dark");
        }
      }
    }

    .submit-button {
      margin-top: 44px;
    }

    .submit-button {
      //position: absolute;
      //left: 50%;
      //transform: translateX(-50%);
      font-size: 20px;
      padding: 0 40px;
      height: 110px;
      border-radius: 17px;
    }
  }

  .footer {

    .footer-nav {
      background-color: color($colors, 'primary-light');
      padding-top: 10px;
      border-top-left-radius: 44px;
      border-top-right-radius: 44px;
      width: 108%;
      position: relative;
      left: -13px;
      display: flex;
      justify-content: center;

      img {
        max-height: 100%;
      }

      .vertical-separator {
        width: 1px;
        height: 37px;
        background: #707070;
        margin: 0 20px;
      }
    }
  }
}
