page-login {
  .content {

    &::before {
      content: '';
      background: url(../assets/imgs/DES4.png);
      position: absolute;
      bottom: -244px;
      left: -37%;
      width: 707px;
      height: 534px;
    }

    .art-container {
      .art-top-page {
        background: color($colors, 'primary');
        width: 120%;
        height: 286px;
        position: absolute;
        left: -10%;
        top: -80px;
        transform: rotate(11deg);
        z-index: -1;
        border-bottom: solid 1px rgba(color($colors, 'line-grey'), 0.5);
        box-shadow: 0 0 0 15px color($colors, 'primary');
      }
    }

    .page-title {
      padding: 40px;
    }

    .button {
      font-size: 16px;
    }

    .form-container {
      padding: 40px;

      .facebook-button-item {
        background-color: transparent;

        .button {
          background-color: color($colors, "facebook");
          height: 40px;

          .button-inner {
            font-size: 16px;
            text-transform: lowercase;
            font-weight: normal;

            .icon {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .footer {

    &::before {
      content: none;
    }

    .submit-button {
      //position: absolute;
      //left: 50%;
      //transform: translateX(-50%);
      font-size: 20px;
      padding: 0 40px;
    }
  }
}
