<ion-content>
  <div class="art-container">
    <div class="art-top-page"></div>
    <div class="art-down-page"></div>
  </div>
  <div class="page-title" text-center>
    <button ion-button clear icon-only class="back-btn" (click)="onGoBack()">
      <img src="assets/imgs/back-icon.png" alt="back">
    </button>
    <img src="assets/imgs/logo.png" alt="logo">
    <div class="title" text-center>
      <h1>الرحلات المتاحة</h1>
      <h3 no-margin>الاحد 9 سبتمبر</h3>
      <ion-row justify-content-center>
        <ion-col col-4>
          <p>من</p>
          <h1 no-margin class="city">مدينة</h1>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-4>
          <p>الى</p>
          <h1 no-margin class="city">مدينة</h1>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="page-content" text-center>
    <div class="tours-list">
      <div class="tour-btn {{tourClass}}">
        <div class="back-arts">
          <div class="first-art"></div>
          <div class="second-art"></div>
        </div>
        <p class="seats-title">12 seats available</p>
        <div class="tour-row">
          <img src="assets/imgs/bus.png">
          <div class="tour-info">
            <img src="assets/imgs/picture-economic.png" *ngIf="tourClass == 'economic'">
            <img src="assets/imgs/picture-delux-plus.png" *ngIf="tourClass == 'deluxe-plus'">
            <img src="assets/imgs/picture-elite-plus.png" *ngIf="tourClass == 'elite-plus'">
            <img src="assets/imgs/picture-new-deluxe.png" *ngIf="tourClass == 'new-deluxe'">
            <img src="assets/imgs/picture-dd.png" *ngIf="tourClass == 'elite-dd'">
            <img src="assets/imgs/picture-aero.png" *ngIf="tourClass == 'aero'">
            <div class="tour-label">DELUXE PLUS</div>
            <p class="tour-nubmer">#1221221</p>
          </div>
          <div class="vertical-separator"></div>
          <div class="tour-data">
            <h1 class="time">1:35 <sub>AM</sub></h1>
            <h5 class="price">100 EGP</h5>
          </div>
        </div>
        <ion-grid class="bus-grid" padding>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button></seat-button>
            </ion-col>
            <ion-col col-2>
              <seat-button status="reserved" ></seat-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <button ion-button large class="next-btn" margin (click)="confirmReservation(tourClass)">التالي</button>
  </div>

</ion-content>

<ion-footer text-center>
  <div class="footer-nav">
    <button ion-button clear (click)="openTickets()">
      <img src="assets/imgs/Group%20280.png" alt="ticket">
    </button>
    <div class="vertical-separator"></div>
    <button ion-button clear (click)="openHome()">
      <img src="assets/imgs/home-icon-silhouette.png" alt="ticket">
    </button>
    <div class="vertical-separator"></div>
    <button ion-button clear (click)="openProfile()">
      <img src="assets/imgs/account-circle.png" alt="ticket">
    </button>
  </div>
</ion-footer>
